* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.clr {
  clear: both;
}
body{
  background-color: rgb(215, 252, 252);
  margin: 30px 20px;
}
.app-title{
  text-align: center;
  color: teal;
  font-weight: bold;
}
.card-parent{
  display: flex;
  flex-wrap: wrap; /* Allow the cards to wrap if there's not enough space */
  justify-content: center; /* Center the cards horizontally */
}
.card{
  width: 250px;
  margin: 15px 15px;
  padding: 20px 15px;
  background: white;
}
.card dt span{
  display: block;
  text-align: center;
  margin: 10px 0px;
}
.icon-title{
  color: teal;
  font-size: 18px;
}
 dl dd{
  line-height: 17px; 
  text-align: justify;
  color: #767272;
  font-size: 16px;
  
}

